table{
  border: 1px solid;
  border-color: black;
  border-collapse: collapse;
  margin: 20px auto;
}
td{
    width: 40px;
    height: 40px;
  }
  
  .number{
    line-height: 0px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
  .name{
      line-height: 0px;
      font-size: 12px;
      font-weight: bold;
      text-align:center;
}

.category1{
  background-color: #9EC87C;
}

.category2{
  background-color: #D1202D;
}
.category3{
  background-color: #F5A720;
}
.category4{
  background-color: #9BBFE2;
}
.category5{
  background-color: #2796D2;
}
.category6{
  background-color: #B895C5 ;
}
.category7{
  background-color: #FDCF0B;
}
.category8{
  background-color:#F5B2CA;
}
.category9{
  background-color: #C3C3C3;
}
.category10{
  background-color: #76C8A9;
}