@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

h1{
  color: white;
  background-color: red;
  width: 600px;
  height:auto;
  border-radius: 10px;
  box-shadow: 0px 5px 15px black;
}
table{
  margin: 20px auto;
  width: auto;
  /* border-collapse: collapse; */
}
body {
  background-color:#A8D5E2;
    margin: 0;
    font-family: "SUSE", sans-serif;
    font-color: #333;
}
td{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    box-shadow: 0px 1px 5px black;
    color: #333;
    vertical-align: middle;
  }

  .number{
    line-height: 0px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
  .name{
      line-height: 0px;
      font-size: 18px;
      font-weight: bold;
      text-align:center;
}
#font-size{
  font-size:7px;
}
#font-size-1{
  font-size:9px;
}
#font-size:hover {
    background-color: #333;
    color: #FDCF0B;
    border-color: #666;
    box-shadow: 0px 3px 8px red;
  }
font-size-1:hover {
    background-color: #333;
    color: #76C8A9;
    border-color: #666;
    box-shadow: 0px 3px 8px red;
}
.category1{
  background-color: #9EC87C;
}
/* Hover effect */
.category1:hover {
  background-color: #333;
  color: #9EC83C;
  border-color: #666;
  box-shadow: 0px 3px 8px red;
}
.category2{
  background-color: #D1202D;
}
/* Hover effect */
.category2:hover {
  background-color: #333;
  color: #d1202D;
  border-color: #666;
  box-shadow: 0px 3px 8px red;
  box-shadow: 0px 3px 8px red;
}
.category3{
  background-color: #F5A720;
}
/* Hover effect */
.category3:hover {
  background-color: #333;
  color: #F5A720;
  border-color: #666;
  box-shadow: 0px 3px 8px red;
}
.category4{
  background-color: #9BBFE2;
}
/* Hover effect */
.category4:hover {
  background-color: #333;
  color: #9BBFE2;
  border-color: #666;
  box-shadow: 0px 3px 8px red;
}
.category5{
  background-color: #2796D2;
  color:#333;
}
/* Hover effect */
.color:hover {
  background-color: #333;
  color: #2796D2;
  border-color: #666;
  box-shadow: 0px 3px 8px red;
}
.category6{
  background-color: #B895C5 ;
}
/* Hover effect */
.category6:hover {
  background-color: #333;
  color: #B895C5;
  border-color: #666;
  box-shadow: 0px 3px 8px red;
}
.category7{
  background-color: #FDCF0B;
}
/* Hover effect */
.category7:hover {
  background-color: #333;
  color: #FDCF0B;
  border-color: #666;
  box-shadow: 0px 3px 8px red;
}
.category8{
  background-color:#F5B2CA;
}
/* Hover effect */
.category8:hover {
  background-color: #333;
  color: #F5B2CA;
  border-color: #666;
  box-shadow: 0px 3px 8px red;
}
.category9{
  background-color: #C3C3C3;
}
/* Hover effect */
.category9:hover {
  background-color: #333;
  color: #C3C3C3;
  border-color: #666;
  box-shadow: 0px 3px 8px red;
}
.category10{
  background-color: #76C8A9;
}
/* Hover effect */
.color-1:hover {
  background-color: #333;
  color: #76C8A9;
  border-color: #666;
  box-shadow: 0px 3px 8px red;
}
.empty{
  background: transparent;
  border: none;
  box-shadow:none;
}